@media screen and (max-width: 900px) {
    body {
        padding: 0 2%;
    }
}
@media screen and (max-width: 750px) {
    .navbar {
        display: none;
    }
    #menures {
        border: 2px solid white;
        display: flex;
        font-size: 40px;
        padding: 0 3px;
    }
    .servicos {
        height: 500px;
        margin-bottom: 50px;
    }
    .card:hover {
        height: auto;
    }
}
@media screen and (max-width: 650px) {
    header {
        margin: 0;
        display: flex;
        justify-content: center;
        height: 50vh;
    }
    .wellcome {
        width: 90%;
        margin: 5% 0;
        z-index: 1;
        position: absolute;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-c-olor: white;
    }
    .wellcome-img {
        position: absolute;
        margin-top: 5%;
        max-width: 350px;
        opacity: 50%;
    }
    .servicos {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .card {
        height: auto;
        width: 70%;
        margin: 10px 0;
    }
    .card:hover {
        height: 80vh;
    }
}
@media screen and (max-width: 410px) {
    footer {
        z-index: 1;
    }
}