@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
* {
    box-sizing: border-box;
    font-family: roboto, sans-serif;
    text-decoration: none;
    color: #2C444E;
}
body {
    padding: 0 10%;
}
/*Topbar*/
.topbar {
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a.logo, h1 {
    flex: 25%;
    font-family: lobster, cursive;
    letter-spacing: 2px;
}
.navbar {
    align-items: baseline;
    display: flex;
    flex: 55%;
    text-align: right;
    justify-content: flex-end;
}
.navbar a {
    text-transform: capitalize;
    border-top: 4px solid transparent;
    padding: 5px 12px;
    text-decoration: none;
    font-size: 120%;
    margin-left: 2%;
}
.navbar a:hover {
    border-top: 4px solid #00BEA4;
}
/*Link-botão*/
a.btn {
    display: inline-block;
    padding: 10px 6px;
    border-radius: 5px;
    border: 0;
    color: white;
    background-color: #00BEA4;
}
a.btn:hover {
    border: 0;
    background-color: #00DFC2;
}
a.btn2 {
    text-transform: uppercase;
    padding: 12px 10px;
}
.tr {
    transition: .5s;
}
/*Header*/
header {
    display: flex;
    margin-top: 5%;
}
.wellcome {
    margin-right: 5%;
    display: block;
    padding-top: 10%;
    flex: 45%;
}
.wellcome h2 {
    font-size: 300%;
    margin: 0;
    color: #2C444E;
}
.wellcome-img {
    max-width: 40%;
    flex: 50%;
}
.spacingtxt {
    font-weight: bold;
    letter-spacing: 5px;
    margin: 0;
    color: #2C444E;
}
/*Section*/
section {
    margin: 100px 0;
    display: flex;
    flex-flow: row wrap;
}
section h2 {
    flex: 100%;
    font-size: xx-large;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: lobster, cursive;
}
.servicos {
    margin: 5% 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 400px;
    overflow: auto;
}
.card {
    display: flex;
    height: 320px;
    flex-flow: column wrap;
    justify-content: center;
    width: 30%;
    border: 1px solid #00BEA4;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    transition: 1s;
}
.card p, .card h3 {
    padding: 0 4%;
    text-align: justify;
    transition: .8s;
}
.card img {
    padding: 0 40%;
    width: 100%;
    transition: .8s;
}
.card:hover img {
    width: 20%;
    margin: 0 40%;
    padding: .5%;
    border-radius: 100%;
    background-color: white;
}
.card:hover {
    background-color: #00BEA4;
    animation: open .3s ease-in both;
}
@keyframes open {
    99% {
        height: 380px;
    }
    100% {
        padding-top: 2%;
        height: auto;
    }
}
.card:hover p, .card:hover h3 {
    color: white;
}
.card:hover i.bi {
    display: none;
}
/*footer*/
footer {
    border-top: 10px solid #00DFC2;
    width: 100%;
    display: block;
    text-align: center;
    position: absolute;
    left: 0;
    background-image: linear-gradient(to bottom, #00BEA4, #2C444E, black);
}
footer h2 {
    margin: 3% 0 0 0;
    padding: 0;
    color: white;
    font-family: lobster, cursive;
    font-size: 190%;
    letter-spacing: 2px;
}
p.copy {
    padding: 0;
    margin: 4% 0 1% 0;
    font-weight: bold;
}
footer p {
    padding: 0;
    margin: 0;
    color: white;
}
/*whatsapp*/
#whatsapp {
    position: fixed;
    bottom: 0;
    color: white ;
    padding: 20px;
    border-radius: 100%;
    margin: 10px;
    right: 0%;
    background-color: 	#25D366;
    font-size: 30px;
}